<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{> header }}
    <p>
      Made with Node, Express and Handlebars. <br>
      This site is using data from the
      <a href="https://www.mapbox.com/" target="_blank" rel="noopener noreferrer">MapBox API</a> and the
      <a href="https://weatherstack.com/" target="_blank" rel="noopener noreferrer">WeatherStack API</a>.
    </p>
  </div>

  {{> footer }}
</body>

</html>