<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{> header }}
    <p>Search weather for your location</p>

    <form>
      <input type="text" name="" placeholder="Location">
      <button type="submit">Search</button>
    </form>

    <h2 id="message-1"></h2>
    <div class="display">
      <div id="icon">
        <img src="">
      </div>
      <p id="message-2"></p>
    </div>
  </div>

  {{> footer }}

  <script src="/js/app.js"></script>
</body>

</html>